@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
html {
	margin: 0;
	padding: 0;
}

html {
	background: black;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

#main {
    display:fixed;
    left: 0;
    top: 0;
    padding: 1em;
    width: 50%;
}

.input-container {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 80%;
    text-align: end;
    margin-bottom: 1em;
}

h3 {
    padding-right:0.5em;
    padding-top: 1em;
    color: red;
}

input {
    font-size: 1.25em;
}

button {
    width: 100%;
    background: red;
    color: white;
    border: none;
    padding: 1em;
    border-radius: 0.5em;

    font-size: 1.3em;
}

button:hover {
    background: #ff4444
}

